<div class="flex flex-col items-center">
  <% if current_page?(root_path) %>
  <h2 class="uppercase text-4xl text-center font-semibold pt-5">Contact Us</h2>
  <% else %>
  <h2 class="font-header uppercase text-4xl text-center">Contact Us</h2>
  <%end %>
  <div class="text-center text-slate-700 max-w-md">Fill out the form below and a member of our team will reach out to you shortly</div>
</div>

<%= form_with(model: message, class: "") do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "p-text" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-800 focus:ring-sky-800" %>
  </div>

  <div class="my-5">
    <%= form.label :email, class: "p-text" %>
    <%= form.email_field :email, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-800 focus:ring-sky-800" %>
  </div>

  <%= invisible_captcha :confirm_email, :message %>

  <div class="my-5">
    <%= form.label :phone, class: "p-text" %>
    <%= form.text_field :phone, placeholder: "###-###-####", class: "placeholder:text-slate-300 block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-800 focus:ring-sky-800" %>
  </div>

  <div class="my-5">
    <%= form.label "How can we help?", class: "p-text" %>
    <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-sky-800 focus:ring-sky-800" %>
  </div>

  <%# if @show_checkbox_recaptcha %>
    <%#= recaptcha_tags %>
    <!--<div class="mb-10"></div>-->
  <%# else %>
    <%#= recaptcha_v3(action: 'message', site_key: ENV['RECAPTCHA_SITE_KEY']) %>
  <%# end %>

  <div class="inline">
    <% if current_page?(root_path) %>
      <%= form.submit "SEND MESSAGE", class: "btn-primary mb-10 font-sans bg-sky-800 border-sky-800 hover:bg-red-800 hover:border-red-800" %>
    <% else %>
      <%= form.submit "SEND MESSAGE", class: "btn-primary mb-10" %>
      <%end %>
  </div>
<% end %>
