<div id="<%= dom_id recreational_flight %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= recreational_flight.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= recreational_flight.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= recreational_flight.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= recreational_flight.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Occasion:</strong>
    <%= recreational_flight.occasion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preferred date:</strong>
    <%= recreational_flight.preferred_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preferred availability:</strong>
    <%= recreational_flight.preferred_availability %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alternate date:</strong>
    <%= recreational_flight.alternate_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alternate availability:</strong>
    <%= recreational_flight.alternate_availability %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= recreational_flight.comments %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this Scenic Ride", recreational_flight, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this Scenic Ride", edit_recreational_flight_path(recreational_flight), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
