<main class="bg-slate-50 w-full flex flex-col items-center justify-center">
  <!--Container for contents-->
  <div class="lg:w-3/5 md:w-4/5 pb-10">
    <h1 class="font-bold text-4xl py-10 text-center font-header">Get ready to fly!</h1>  
    <p class="px-5 p-text pb-5 text-center">
    Thank you<%if notice.present?%>, <%= notice %>,<%end%> for requesting a recreational flight with Pitcairn Flight Academy.  We're excited to have you on board and can't wait to share our passion for flying with you.
    A member of our team will be in touch shortly to confirm your flight details. You can also give us a call at <a href="tel:610-495-7000">(610) 495-7000</a> or email us at <a href="mailto:flynow@pitcairnflight.com" class="hover:underline">flynow@pitcairnflight.com</a>
    </p>

  </div>

  <div class="flex flex-col lg:flex-row items-center">
    <div class="lg:w-1/2 lg:px-10">
      <div class="pt-10 flex lg:flex-row flex-col gap-3 justify-center mx-10">
        <%= link_to root_path do %>
          <div class="btn-primary mb-10">
            VIEW PROGRAMS
          </div>
        <% end %>

        <%= link_to root_path do %>
          <div class="btn-primary mb-10">
            HOME PAGE
          </div>
        <% end %>
      </div>

    </div>
    
    <div class="lg:w-1/2">
      <%= image_tag "pitcairn-flight-student-and-cfi-in-cessna.webp", class: "lg:w-3/4", alt: "Student and CFI inside Cessna"%>
    </div>
  </div>

</main>

<%= render "shared/footer"%>

<% if Rails.env.production? %>
  <!-- Event snippet for Form Completion Website conversion page -->
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-16456738885/cndfCK7o2JAZEMXQl6c9'});
  </script>
<%end%>
