

<menu x-show="open"
      x-cloak
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="-translate-x-full opacity-0"
      x-transition:enter-end="translate-x-0 opacity-100"
      x-transition:leave="transition ease-in duration-300 transform"
      x-transition:leave-start="translate-x-0 opacity-100"
      x-transition:leave-end="-translate-x-full opacity-0"
      class="fixed h-screen-mobile overflow-y-auto w-screen top-0 left-0 bg-gradient-to-r from-slate-900 to-black flex flex-col z-30"
>
  <div class="w-full flex flex-row justify-end text-slate-500">
    <div class="px-5 py-3 rounded-full mr-5 mt-3 cursor-pointer grid place-items-right"
      x-on:click="open = !open">
      X
    </div>
  </div>
  <div class="ml-8 mr-5" x-data="{
          mobile_resources_drop: false,
          mobile_now_drop: false,
          mobile_certification_drop: false,
          mobile_about_drop: false }">
    <ul class="space-y-4 font-medium font-header mt-5 tracking-wider text-xl">
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%= link_to "DISCOVERY FLIGHT", discovery_flight_path, data: { turbo: false }%></div>
          <div class="px-5 py-1" x-on:click="mobile_resources_drop = ! mobile_resources_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cbd5e1" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_resources_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_resources_drop}">
          <%= link_to "YOUR FIRST FLIGHT" , discovery_flight_path, data: { turbo: false }, target: "blank"%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_resources_drop}">
          <%= link_to "PILOT TRAINING PROCESS", pilot_training_path, target: "blank", data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_resources_drop}">
          <%= link_to "WHY BECOME A PILOT", root_path, target: "blank", data: { turbo: false }%>
        </li>        
        <li class="ml-5 animate-slide-in-left4" x-show="mobile_resources_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_resources_drop}">
          <%= link_to "START PILOT CAREER", root_path, data: { turbo: false }%>
        </li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%=link_to "BECOME A PILOT", root_path, data: { turbo: false }%></div>
          <div class="px-5 py-1" x-on:click="mobile_now_drop = ! mobile_now_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cbd5e1" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_now_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_now_drop}">
          <%=link_to "PRIVATE PILOT CERTIFICATE", root_path, data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_now_drop}">
          <%=link_to "INSTRUMENT RATING", root_path, data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left3" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_now_drop}">
          <%=link_to "COMMERCIAL PILOT CERTIFICATE", root_path, data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left4" x-show="mobile_now_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left3': !mobile_now_drop}">
          <%=link_to "CERTIFIED FLIGHT INSTRUCTOR", root_path, data: { turbo: false }%>
        </li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%= link_to "ABOUT US", root_path, data: { turbo: false }%></div>
          <div class="px-5 py-1" x-on:click="mobile_certification_drop = ! mobile_certification_drop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cbd5e1" class="transition-transform duration-500 ease-in-out" viewBox="0 0 16 16" x-bind:class="{ 'rotate-[90deg]': mobile_certification_drop }">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </li>
        <!--Drop Down-->
        <li class="ml-5 animate-slide-in-left" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left2': !mobile_certification_drop}">
          <%=link_to "WHY PITCAIRN?", root_path, data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_certification_drop}">
          <%=link_to "ABOUT US", root_path, data: { turbo: false }%>
        </li>
        <li class="ml-5 animate-slide-in-left2" x-show="mobile_certification_drop" x-transition x-transition:leave.duration.300ms x-bind:class="{'animate-slide-out-left': !mobile_certification_drop}">
          <%=link_to "BLOG", root_path, data: { turbo: false }%>
        </li>
      <li>
        <div class="flex flex-row justify-between" >
          <div class=""><%= link_to "CONTACT US", root_path, data: { turbo: false }%></div>
        </div>
      </li>
    </ul>
  </div>
</menu>
