<%= render "shared/header"%>

<div class="bg-gradient-to-r from-sky-950 to-slate-900 text-white py-24 md:py-32 lg:py-40">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl font-header">About Us</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Pitcairn Flight Academy was founded in 2022 by David and Rachael Pitcairn. Inspired by his father, David grew up visiting air shows and building model airplanes. These early days were the catalyst for an eventual lifelong interest in aviation. David started his pilot training back in the 1990s and soon after was taking to the skies regularly. Alongside his wife Rachael, David has flown all over the nation and has the stories to back it up (like the time he went island-hopping via plane through the Bahamas). </p>
      <p class="mt-6 text-lg leading-8 text-gray-300">Throughout his flying career, David Pitcairn experienced his fair share of great and poor flight instruction. Thinking that the world of flight instruction had room for improvement, David and Rachael founded the Pitcairn Flight Academy at the Heritage Field Airport (KPTW) near Pottstown, PA. </p>
      <p class="mt-6 text-lg leading-8 text-gray-300">Heritage Field Airport has long been a gem in the eyes of other flight schools in the greater Philadelphia area, who still believe the area is ideal for flight training. However, while those schools have to make the commute to fly here at KPTW, Pitcairn Flight Academy calls the airfield its home. Over the years, the flight academy has grown in popularity and has built an exceptional team to accommodate the demand for expert flight training. We welcome you to Pitcairn Flight Academy and look forward to flying with you soon. </p>
    </div>
    <ul role="list" class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2">
      <li>
        <%= image_tag "andy.webp", alt: "Andy Landis", class: "aspect-[1/1] w-full rounded-2xl object-cover" %>
        <h3 class="mt-6 text-lg font-semibold leading-8 text-white font-header">Andy Landis</h3>
        <p class="text-base leading-7 text-gray-300">Chief Flight Instructor</p>
        <p class="mt-4 text-base leading-7 text-gray-300">Originally from Souderton, PA, Andy started his time in flight training over 20 years ago. What started as an escape from a busy day job soon evolved into a love and passion for flying. Since then, Andy has surged through the ranks and acquired an impressive list of certificates and ratings (like ATP, CFI, CFII, MEI, CFI-G, tailwheel, and float plane pro) to accompany his extensive knowledge in flight training. Outside of Pitcairn Flight Academy, you can find Andy flying his KR-03A glider, scuba diving, and going on other adventures in the outdoors.</p>
      </li>

      <li>
        <%= image_tag "marisa.webp", alt: "Marisa Doerstling", class: "aspect-[1/1] w-full rounded-2xl object-cover" %>
        <h3 class="mt-6 text-lg font-semibold leading-8 text-white font-header">Marisa Doerstling</h3>
        <p class="text-base leading-7 text-gray-300">Academy Administrator</p>
        <p class="mt-4 text-base leading-7 text-gray-300">Marisa is a native Floridian who followed her heart up to Bucks County to marry a pilot. She’s been around aviation for most of her life and started volunteering at her local airshow back in 2009. Although always fascinated by airplanes, Marisa still claims to be terrified of flying! <br><br>If not at PTW, Marisa is up at DYL either playing with cars or working on/flying in one of her husband’s 2 airplanes. Marisa’s other hobbies include thrifting, makeup, playing video games, photography (website photo cred to her!), and hanging out with her dog, Ben. Make sure to stop by the front desk to meet Marisa and Ben!</p>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>


<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl font-header">Meet our Instructors</h2>
      <p class="mt-4 text-lg leading-8 text-gray-400">We’re a dynamic group of individuals who are passionate about what we do.</p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
      <li class="rounded-2xl bg-gray-800 px-8 py-10">
        <%= image_tag "darren.webp", alt: "Darren Slocum", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56"%>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white font-header">Darren Slocum</h3>
        <p class="text-sm leading-6 text-gray-400">Assistant Chief Flight Instructor</p>
      </li>
      <li class="rounded-2xl bg-gray-800 px-8 py-10">
        <%= image_tag "barryc.webp", alt: "Barry Cossaboon", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56"%>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white font-header">Barry Cossaboon</h3>
        <p class="text-sm leading-6 text-gray-400">CFI, CFII</p>
      </li>
      <li class="rounded-2xl bg-gray-800 px-8 py-10">
        <%= image_tag "chris.webp", alt: "Chris Sobolewski", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56"%>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white font-header">Chris Sobolewski</h3>
        <p class="text-sm leading-6 text-gray-400">CFI, CFII</p>
      </li>
      <li class="hidden lg:block"></li>
      <li class="rounded-2xl bg-gray-800 px-8 py-10">
        <%= image_tag "ron.webp", alt: "Barry Cossaboon", class: "mx-auto h-48 w-48 rounded-full md:h-56 md:w-56"%>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white font-header">Ron Rissel</h3>
        <p class="text-sm leading-6 text-gray-400">CFI, CFII</p>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>


<%= render "shared/footer"%>


