<%# Head / Meta Data %>
<% title("Certified Flight Instructor | Pitcairn Flight Academy") %>
<% meta_description("Pitcairn Flight Academy provides comprehensive commercial pilot training in Philadelphia and Spanish Fork, UT.  Prepare for a rewarding career in aviation with our professional training programs. Enroll with us now.  Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords("Certified Flight Instructor, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School, Aviation Career, Professional Pilot Training") %>

<%= render "shared/header"%>

<div class="min-h-screen bg-gray-800 text-gray-100">
  <%= image_tag "pitciarn-flight-cfis-in-front-of-plane.webp", alt: "cessna parked", class: "lg:hidden object-contain"%>
	<div class="p-6 space-y-8">
		<main>
			<div class="container mx-auto space-y-16">
        <header class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-0 md:p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
            <div class="hidden lg:flex items-center justify-center p-0 sm:p-6 mt-8 lg:mt-8 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 ">
              
              <%= image_tag "pitciarn-flight-cfis-in-front-of-plane.webp", alt: "cessna parked", class: "object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"%>
            </div>
            <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
              <h1 class="text-4xl font-bold leadi sm:text-5xl"><span class="hidden lg:block">Certified</span>
                <span class="text-teal-500 sm:text-6xl">Flight Instructor</span> Training
              </h1>
              <p class="mt-6 mb-8 text-lg sm:mb-12 font-header">Pottstown Heritage Field Flight School. <br class="hidden lg:block">
                <br class="hidden md:inline lg:hidden">Become a CFI at Pitcairn Flight Academy.
              </p>
              <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900 hover:scale-105 duration-300">Enroll Today</a>
                <div id="learn-more-button" class="hidden lg:block px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Learn more</div>
                <div id="learn-more-button-mobile" class="lg:hidden px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Learn more</div>
              </div>
            </div>
          </div>
        </header>


        <section id="commercial-content">
					<span class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">How it works</span>
					<h2 class="text-5xl font-bold lg:text-center text-gray-50">Get Your Commercial Certificate</h2>
					<div class="grid gap-6 my-16 lg:grid-cols-3">
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">1</div>
							<p class="text-2xl">
								<b>Contact Us.</b> Come by or give us a call.  We'll set up a time to go flying
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">2</div>
							<p class="text-2xl">
								<b>Meet Requirements.</b> Prepare and then complete the written and practical exam.
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">3</div>
							<p class="text-2xl">
								<b>Start Instructing.</b> Teach others the joy of flight.  Share your passion for aviation.
							</p>
						</div>
					</div>
				</section>

        <section class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
            <p class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">The Specifics</p>
            <h2 class="mb-12 text-4xl font-bold leadi lg:text-center sm:text-5xl">Instructor Certification Requirements</h2>
            <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">250 hours total time, 100 hours pilot in command (PIC) time</h3>
                <p class="mt-1 text-gray-400 font-header">You need to have the necessary amount of flight hours accrued in order to qualify to take the practical flight exam (checkride). Not all of the time needs to be done in an airplane.  If you've flown helicopters or other aircraft, that time can be counted towards a commercial pilot certificate.  Just as long as 100 of those hours were in powered aircraft and 50 of those hours were in an airplane.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">50 hours of cross country flying</h3>
                <p class="mt-1 text-gray-400 font-header">There are specific requirements for the types of cross country flying you need to have done.  This includes the "long cross country" which is a 300 NM cross country of at least three different locations with two of the airports havings a straight line distance of at least 250 NM. You'll also need to do two more cross country flights, each covering 100 nautical miles in two hours, with an instructor. One of these flights should be during the day, and the other at night.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">10 hours of simulated or actual instrument flying time and 10 hours in a technically advanced aircraft.</h3>
                <p class="mt-1 text-gray-400 font-header">If you do not have an instrument rating then your privileges as a commercial pilot is limited as you will be unable to fly for hire or compensation at night nor travel more than 50 NM miles.  Instrument time in this case constitutes for training using a view-limiting device including attitude instrument flying, partial panel skills, recovery from unusual flight attitudes, and intercepting and tracking navigational systems.  You'll also need 10 hours of training in a complex, turbine, or technically advanced airplane.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Receive flight training and endorsement from an authorized instructor</h3>
                <p class="mt-1 text-gray-400 font-header">At least 20 hours of training must have been completed to qualify for the flight exam.  This includes instrument flying, complex airplane flying, and cross country flights.  Prior to taking the checkride, you need to have flown at least three hours with an authorized instructor in the preceding two calendar months.  </p>
              </div>
              <div class="text-slate-600 italic py-5 col-span-2">
                Reference Airman Practical Test Standards and 14 CFR ยง61.183 for the entire list of eligibility requirements.
              </div>
            </div>

          </div>
        </section>


        <section>
					<div class="container p-6 py-20 mx-auto rounded lg:px-8 bg-gray-900">
						<h2 class="text-5xl font-bold text-center">Commercial Pilot Training Philadelphia</h2>
						<div class="flex justify-center p-4">
							<a rel="noopener noreferrer" href="#">A Heritage Field Flight School</a>
						</div>
            <%= image_tag "pitcairn-flight-instructors-in-front-of-cessna-group-long.webp", alt: "instructors in fron of cessna", class: "hidden lg:block lg:object-cover w-full h-auto mt-8 rounded max-h-96 bg-gray-500"%>
            <%= image_tag "pitcairn-flight-group-of-instructors.webp", alt: "instructors in fron of cessna", class: "lg:hidden object-cover w-full  mt-8 rounded bg-gray-500"%>
            
						
					</div>
				</section>

        <section class="py-6 bg-gray-800 text-gray-50">
          <div class="container mx-auto flex flex-col justify-around p-4 text-center md:p-10 lg:flex-row">
            <div class="flex flex-col justify-center lg:text-left">
              <p class="mb-1 text-sm font-medium tracki uppercase text-teal-500">Contact Us</p>
              <h1 class="py-2 text-3xl font-medium leadi title-font">Start Commercial Pilot Training at Pitcairn Flight Academy</h1>
            </div>
            <div class="flex flex-col items-center justify-center flex-shrink-0 mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-5 lg:justify-end">
              <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900 hover:scale-105 duration-300">Enroll Today</a>
              <div rel="noopener noreferrer" id="contact-button" class="px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Contact Us</div>
            </div>
          </div>
        </section>
			</div>
		</main>
	</div>
</div>





<%#= render "shared/cta_pilot_simple"%>
<%#= render "shared/cta_next_steps"%>
<div class="" id="contactframe">
  <%= render "shared/contact_turboframe"%>
</div>
<%= render "shared/footer"%>



<section class="bg-gradient-to-b from-slate-50 to-sky-200 flex flex-col items-center">
  <div class="max-w-4xl flex flex-col pt-10 px-5">
    <h3 class="text-5xl font-header uppercase font-semibold">Get Started on Your Pilot Career</h3>
    <h4 class="text-3xl text-slate-600 italic py-5">Simplifly Offers Accelerated and Flexible Training Options</h4>
    <p class="text-lg">Start your pilot career after getting your commercial certificate. Start flying now and build the necessary hours to become an airline pilot. One way SimpliFly can help is by becoming a certified flight instructor (CFI).  Being a CFI offers a valuable opportunity to rapidly accumulate flight experience for the minimum requirements of airlines and corporate aviation companies. It is a great opportunity that allows you to apply all the knowledge and skills acquired during your own flight training. Flight instructors play a crucial role as ambassadors of the aviation community, imparting their knowledge and experience to their students. For many, it serves as their first aviation job that not only is an invaluable experience but also provides compensation.</p>
    
    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">How Long Will it Take?</h3>
    <p class="text-lg">Becoming a flight instructor does not have a minimum time, but you do need a commercial pilot license along with an instrument rating. To qualify for a commercial pilot license, a pilot must accumulate a minimum of 250 flight hours. That being said, if the minimum requirements are met it can take a little over a week to complete training if you are studying full time (accelerated).  If studying part time when able (flexible), it can take from a few weeks to a few months to be prepared for the CFI checkride and receive your endorsement.</p>

    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">What are the Eligibility Requirements?</h3>
    <ul class="list-disc text-lg pl-10 lg:pl-16">
      <li>Be 18 years of age</li>
      <li>Read, speak, write and understand the English language</li>
      <li>Hold a commercial pilot certificate and an instrument rating</li>
      <li>Have logged at least 250 hours of flight time</li>
      <li>Hold a valid FAA 3rd Class Medical Cerificate (or higher)</li>
      <li>Receive a logbook endorsement from an authorized instructor on the fundamentals of instructing</li>
      <li>Pass a knowledge test on the aeronautical knowledge areas appropriate to the flight instructor rating sought</li>
    </ul>
    <p class="text-slate-600 italic pt-5">Reference 14 CFR ยง61.183 for the entire list of eligibility requirements.</p>

    <h3 class="text-5xl font-header uppercase font-semibold pt-20 pb-5">The SimpliFly Guarantee</h3>
    <p class="text-lg pb-20">If you have completed your <%= link_to "private", private_pilot_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, <%= link_to "instrument", instrument_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, <%= link_to "commercial", commercial_path, class: "text-sky-600 hover:underline", data: {turbo: false}%>, and CFI training at SimpliFly, we have an exciting opportunity for you. As a testament to our confidence in your abilities, we offer a guaranteed interview for a teaching position as a CFI within our flight school. This exclusive opportunity allows you to showcase the knowledge and skills you have acquired during your training journey with us. Join our team of dedicated instructors, inspire future aviators, and make a meaningful impact in the aviation community. Take the next step in your career as a CFI with SimpliFly and let your passion for aviation soar.</p>
  </div>
</section>



<%# Sticky div %>
</div>

<script>
  document.getElementById('contact-button').addEventListener('click', function() {
    const contactFrame = document.getElementById('contactframe');

    if (contactFrame) {
      contactFrame.scrollIntoView({ behavior: 'smooth' });
    }
  });
  document.getElementById('learn-more-button').addEventListener('click', function() {
    const commercialContent = document.getElementById('commercial-content');

    if (commercialContent) {
      const offset = -15; // Adjust the offset as needed
      const targetPosition = commercialContent.offsetTop + offset;
      window.scrollTo({ top: targetPosition, behavior: 'smooth' });
    }
  });
    document.getElementById('learn-more-button-mobile').addEventListener('click', function() {
    const commercialContent = document.getElementById('commercial-content');

    if (commercialContent) {
      const offset = 120; // Adjust the offset as needed
      const targetPosition = commercialContent.offsetTop + offset;
      window.scrollTo({ top: targetPosition, behavior: 'smooth' });
    }
  });
</script>



