<%# Head / Meta Data %>
<% title("Certified Flight Instructor | Pitcairn Flight Academy") %>
<% meta_description("Pitcairn Flight Academy provides comprehensive commercial pilot training in between Philadelphia and Reading Pennsylvania.  Prepare for a rewarding career in aviation with our professional training programs. Enroll with us now.") %>
<% meta_keywords("Certified Flight Instructor, Philadelphia Flight School, Pottstown Flight School, Reading Flight School, Limerick Flight School, Heritage Field Flight School, Aviation Career, Professional Pilot Training") %>

<%= render "shared/header"%>

<div class="min-h-screen bg-gray-800 text-gray-100">
  <%= image_tag "pitciarn-flight-cfis-in-front-of-plane.webp", alt: "cessna parked", class: "lg:hidden object-cover"%>
	<div class="p-6 space-y-8">
		<main>
			<div class="container mx-auto space-y-16">
        <header class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-0 md:p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
            <div class="hidden lg:flex items-center justify-center p-0 sm:p-6 w-1/2">
              <%= image_tag "pitciarn-flight-cfis-in-front-of-plane.webp", alt: "cessna parked", class: "object-cover h-3/4 w-full rounded-lg"%>
            </div>
            <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
              <h1 class="text-4xl font-bold leadi sm:text-5xl font-header"><span class="hidden lg:block font-header">Certified</span>
                <span class="text-teal-500 sm:text-6xl font-header">Flight Instructor</span> Training
              </h1>
              <p class="mt-6 mb-8 text-lg sm:mb-12 font-sans">Pottstown Heritage Field Flight School. <br class="hidden lg:block">
                <br class="hidden md:inline lg:hidden">Become a CFI at Pitcairn Flight Academy.
              </p>
              <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                <%= link_to "Enroll Today", enroll_path, data: { turbo: false }, target: "blank", class: "px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900 hover:scale-105 duration-300" %>
                <div id="learn-more-button" class="hidden lg:block px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Learn more</div>
                <div id="learn-more-button-mobile" class="lg:hidden px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Learn more</div>
              </div>
            </div>
          </div>
        </header>


        <section id="commercial-content">
					<span class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">How it works</span>
					<h2 class="text-5xl font-bold lg:text-center text-gray-50 font-header">Become a Certified Flight Instructor CFI</h2>
					<div class="grid gap-6 my-16 lg:grid-cols-3">
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">1</div>
							<p class="text-2xl">
								<b>Contact Us.</b> Come by or give us a call.  We'll set up a time to go flying
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">2</div>
							<p class="text-2xl">
								<b>Meet Requirements.</b> Prepare and then complete the written and practical exam.
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">3</div>
							<p class="text-2xl">
								<b>Start Instructing.</b> Teach others the joy of flight.  Share your passion for aviation.
							</p>
						</div>
					</div>
				</section>

        <section class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
            <p class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">The Specifics</p>
            <h2 class="mb-12 text-4xl font-bold leadi lg:text-center sm:text-5xl font-header">Instructor Certification Requirements</h2>
            <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Hold a commercial certificate and instrument rating</h3>
                <p class="mt-1 text-gray-400 font-sans">Obtaining your commercial certificate and instrument rating are prerequisites for qualifying to take your certified flight instructor certification practical exam.  By having these two requirements fulfilled, that also entails that you already have a valid medical certificate as well. A class one medical is needed for airline Part 121 operations while smaller Part 135 and Part 91 operations may only require a second class medical.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Logged at least 250 hours total time</h3>
                <p class="mt-1 text-gray-400 font-sans">This requirement stems from having your commercial certificate done already.  You need to have adequate experience and knowledge prior to being awarded the privileges of teaching student pilots how to fly.  Of these 250 hours, at 15 hours must have been logged as PIC (pilot in command) in the category and class of aircraft that is appropriate to the flight instructor rating sought.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Have an endorsement from an authorized instructor</h3>
                <p class="mt-1 text-gray-400 font-sans">You must receive an endorsement from an authorized instructor which is a product of training under an authorized instructor.  This endorsement must indicate that you are competent and possess instructional proficiency in stall awareness and spins.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Pass knowledge test on aeronautical knowledge areas</h3>
                <p class="mt-1 text-gray-400 font-sans">In addition to understanding and having the aeronautical knowledge areas for being a pilot, you need to also know how to teach this knowledge to your future students.  This is known as the fundamentals of instructing which includes topics such as the learning process, elements of effective teaching, student evaluation and testing, course development, lesson planning, and classroom training techniques.</p>
              </div>
              <div class="text-slate-600 italic py-5 col-span-2">
                Reference Airman Practical Test Standards and 14 CFR ยง61.183 for the entire list of eligibility requirements.
              </div>
            </div>

          </div>
        </section>


        <section>
					<div class="container p-6 py-20 mx-auto rounded lg:px-8 bg-gray-900">
						<h2 class="text-5xl font-bold text-center font-header">CFI training in Philadelphia</h2>
						<div class="flex justify-center p-4">
							<p>A Heritage Field Flight School</p>
						</div>
            <%= image_tag "pitcairn-flight-instructors-in-front-of-cessna-group-long.webp", alt: "instructors in fron of cessna", class: "hidden lg:block lg:object-cover w-full h-auto mt-8 rounded max-h-96 bg-gray-500"%>
            <%= image_tag "pitcairn-flight-group-of-instructors.webp", alt: "instructors in fron of cessna", class: "lg:hidden object-cover w-full  mt-8 rounded bg-gray-500"%>
            
						
					</div>
				</section>

        <section class="py-6 bg-gray-800 text-gray-50">
          <div class="container mx-auto flex flex-col justify-around p-4 text-center md:p-10 lg:flex-row">
            <div class="flex flex-col justify-center lg:text-left">
              <p class="mb-1 text-sm font-medium tracki uppercase text-teal-500">Contact Us</p>
              <h1 class="py-2 text-3xl font-medium leading-tight font-header">Start CFI Training at Pitcairn Flight Academy</h1>
            </div>
            <div class="flex flex-col items-center justify-center flex-shrink-0 mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-5 lg:justify-end">
              <%= link_to "Enroll Today", enroll_path, data: { turbo: false }, target: "blank", class: "px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900 hover:scale-105 duration-300" %>
              <div rel="noopener noreferrer" id="contact-button" class="px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Contact Us</div>
            </div>
          </div>
        </section>
			</div>
		</main>
	</div>
</div>





<%#= render "shared/cta_pilot_simple"%>
<%#= render "shared/cta_next_steps"%>
<div class="" id="contactframe">
  <%= render "shared/contact_turboframe"%>
</div>
<%= render "shared/footer"%>




<%# Sticky div %>
</div>

<script>
  document.getElementById('contact-button').addEventListener('click', function() {
    const contactFrame = document.getElementById('contactframe');

    if (contactFrame) {
      contactFrame.scrollIntoView({ behavior: 'smooth' });
    }
  });
  document.getElementById('learn-more-button').addEventListener('click', function() {
    const commercialContent = document.getElementById('commercial-content');

    if (commercialContent) {
      const offset = -15; // Adjust the offset as needed
      const targetPosition = commercialContent.offsetTop + offset;
      window.scrollTo({ top: targetPosition, behavior: 'smooth' });
    }
  });
    document.getElementById('learn-more-button-mobile').addEventListener('click', function() {
    const commercialContent = document.getElementById('commercial-content');

    if (commercialContent) {
      const offset = 120; // Adjust the offset as needed
      const targetPosition = commercialContent.offsetTop + offset;
      window.scrollTo({ top: targetPosition, behavior: 'smooth' });
    }
  });
</script>



