<%# Head / Meta Data %>
<% title("Commercial Pilot Training | Pitcairn Aviation Academy") %>
<% meta_description("Simplifly provides comprehensive commercial pilot training in Mesa, AZ and Spanish Fork, UT.  Prepare for a rewarding career in aviation with our professional training programs. Enroll with us now.  Many of our students come from Gilbert, Chandler, Tempe, Scottsdale, Apache Junction, Queen Creek, Fountain Hills, Gold Canyon, Maricopa, Pinal, Springville, Provo, Payson, Mapleton, Salem, Elk Ridge, Utah County, Juab County") %>
<% meta_keywords("Commercial Pilot Training, Mesa Flight School, Phoenix Flight School, Scottsdale Flight School, Spanish Fork Flight School, Salt Lake Flight School, Aviation Career, Professional Pilot Training") %>

<%= render "shared/header"%>

<div class="min-h-screen bg-gray-800 text-gray-100">
	<div class="p-6 space-y-8">
		<!--header class="container flex items-center justify-between h-16 px-4 mx-auto rounded bg-gray-900">
			<a rel="noopener noreferrer" href="#" aria-label="Homepage">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-6 h-6 text-teal-500">
					<path d="M27.912 7.289l-10.324-5.961c-0.455-0.268-1.002-0.425-1.588-0.425s-1.133 0.158-1.604 0.433l0.015-0.008-10.324 5.961c-0.955 0.561-1.586 1.582-1.588 2.75v11.922c0.002 1.168 0.635 2.189 1.574 2.742l0.016 0.008 10.322 5.961c0.455 0.267 1.004 0.425 1.59 0.425 0.584 0 1.131-0.158 1.602-0.433l-0.014 0.008 10.322-5.961c0.955-0.561 1.586-1.582 1.588-2.75v-11.922c-0.002-1.168-0.633-2.189-1.573-2.742zM27.383 21.961c0 0.389-0.211 0.73-0.526 0.914l-0.004 0.002-10.324 5.961c-0.152 0.088-0.334 0.142-0.53 0.142s-0.377-0.053-0.535-0.145l0.005 0.002-10.324-5.961c-0.319-0.186-0.529-0.527-0.529-0.916v-11.922c0-0.389 0.211-0.73 0.526-0.914l0.004-0.002 10.324-5.961c0.152-0.090 0.334-0.143 0.53-0.143s0.377 0.053 0.535 0.144l-0.006-0.002 10.324 5.961c0.319 0.185 0.529 0.527 0.529 0.916z"></path>
					<path d="M22.094 19.451h-0.758c-0.188 0-0.363 0.049-0.515 0.135l0.006-0.004-4.574 2.512-5.282-3.049v-6.082l5.282-3.051 4.576 2.504c0.146 0.082 0.323 0.131 0.508 0.131h0.758c0.293 0 0.529-0.239 0.529-0.531v-0.716c0-0.2-0.11-0.373-0.271-0.463l-0.004-0.002-5.078-2.777c-0.293-0.164-0.645-0.26-1.015-0.26-0.39 0-0.756 0.106-1.070 0.289l0.010-0.006-5.281 3.049c-0.636 0.375-1.056 1.055-1.059 1.834v6.082c0 0.779 0.422 1.461 1.049 1.828l0.009 0.006 5.281 3.049c0.305 0.178 0.67 0.284 1.061 0.284 0.373 0 0.723-0.098 1.027-0.265l-0.012 0.006 5.080-2.787c0.166-0.091 0.276-0.265 0.276-0.465v-0.716c0-0.293-0.238-0.529-0.529-0.529z"></path>
				</svg>
			</a>
			<div class="items-center hidden space-x-8 lg:flex">
				<div class="space-x-4">
					<a rel="noopener noreferrer" href="#">Link</a>
					<a rel="noopener noreferrer" href="#">Link</a>
					<a rel="noopener noreferrer" href="#">Link</a>
				</div>
				<button class="px-4 py-2 rounded-md bg-teal-500 text-gray-900">Sign up</button>
			</div>
			<button class="flex items-center justify-center p-2 lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-50">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</header>-->
		<main>
			<div class="container mx-auto space-y-16">
        <section class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
            <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
              
              <%= image_tag "pitcairn-cessna-parked.webp", alt: "cessna parked", class: "object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"%>
            </div>
            <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
              <h1 class="text-5xl font-bold leadi sm:text-6xl">Your
                <span class="text-teal-500">Commercial</span> Pilot Training
              </h1>
              <p class="mt-6 mb-8 text-lg sm:mb-12 font-header">Pottstown Heritage Field Flight School. 
                <br class="hidden md:inline lg:hidden">Finish your commericial pilot training with us.
              </p>
              <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900">Enroll Today</a>
                <div rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer">Learn more</div>
              </div>
            </div>
          </div>
        </section>


        <section>
					<span class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">How it works</span>
					<h2 class="text-5xl font-bold lg:text-center text-gray-50">Get Your Commercial Certificate</h2>
					<div class="grid gap-6 my-16 lg:grid-cols-3">
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">1</div>
							<p class="text-2xl">
								<b>Contact Us.</b> Come by or give us a call.  We'll set up a time to go flying
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">2</div>
							<p class="text-2xl">
								<b>Meet Requirements.</b> Prepare and then complete the written and practical exam.
							</p>
						</div>
						<div class="flex flex-col p-8 space-y-4 rounded-md bg-gray-900">
							<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-teal-500 text-gray-900">3</div>
							<p class="text-2xl">
								<b>Start Pilot Career.</b> Be able to fly for compensation or hire.  Gain more experience and continue pilot training.
							</p>
						</div>
					</div>
				</section>

        <section class="bg-gray-800 text-gray-100">
          <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
            <p class="block mb-2 text-base font-semibold uppercase lg:text-center text-teal-500">The Specifics</p>
            <h2 class="mb-12 text-4xl font-bold leadi lg:text-center sm:text-5xl">Commercial Certification Standards</h2>
            <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">250 hours total time, 100 hours pilot in command (PIC) time</h3>
                <p class="mt-1 text-gray-400 font-header">You need to have the necessary amount of flight hours accrued in order to qualify to take the practical flight exam (checkride). Not all of the time needs to be done in an airplane.  If you've flown helicopters or other aircraft, that time can be counted towards a commercial pilot certificate.  Just as long as 100 of those hours were in powered aircraft and 50 of those hours were in an airplane.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">50 hours of cross country flying</h3>
                <p class="mt-1 text-gray-400 font-header">There are specific requirements for the types of cross country flying you need to have done.  This includes the "long cross country" which is a 300 NM cross country of at least three different locations with two of the airports havings a straight line distance of at least 250 NM. You'll also need to do two more cross country flights, each covering 100 nautical miles in two hours, with an instructor. One of these flights should be during the day, and the other at night.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">10 hours of simulated or actual instrument flying time and 10 hours in a technically advanced aircraft.</h3>
                <p class="mt-1 text-gray-400 font-header">If you do not have an instrument rating then your privileges as a commercial pilot is limited as you will be unable to fly for hire or compensation at night nor travel more than 50 NM miles.  Instrument time in this case constitutes for training using a view-limiting device including attitude instrument flying, partial panel skills, recovery from unusual flight attitudes, and intercepting and tracking navigational systems.  You'll also need 10 hours of training in a complex, turbine, or technically advanced airplane.</p>
              </div>
              <div class="col-span-2 md:col-span-1">
                <h3 class="font-semibold">Receive flight training and endorsement from an authorized instructor</h3>
                <p class="mt-1 text-gray-400 font-header">At least 20 hours of training must have been completed to qualify for the flight exam.  This includes instrument flying, complex airplane flying, and cross country flights.  Prior to taking the checkride, you need to have flown at least three hours with an authorized instructor in the preceding two calendar months.  </p>
              </div>
              <div class="text-slate-600 italic py-5 col-span-2">
                Reference Airman Certification Standards and 14 CFR ยง61.123 for the entire list of eligibility requirements.
              </div>
            </div>

          </div>
        </section>


        <section>
					<div class="container p-6 py-20 mx-auto rounded lg:px-8 bg-gray-900">
						<h2 class="text-5xl font-bold text-center">Commercial Pilot Training Philadelphia</h2>
						<div class="flex justify-center p-4">
							<a rel="noopener noreferrer" href="#">A Heritage Field Flight School</a>
						</div>
            <%= image_tag "pitcairn-flight-instructors-in-front-of-cessna-group-long.webp", alt: "instructors in fron of cessna", class: "hidden lg:block lg:object-cover w-full h-auto mt-8 rounded max-h-96 bg-gray-500"%>
            <%= image_tag "pitcairn-flight-group-of-instructors.webp", alt: "instructors in fron of cessna", class: "lg:hidden object-cover w-full  mt-8 rounded bg-gray-500"%>
            
						
					</div>
				</section>

        <section class="py-6 bg-gray-800 text-gray-50">
          <div class="container mx-auto flex flex-col justify-around p-4 text-center md:p-10 lg:flex-row">
            <div class="flex flex-col justify-center lg:text-left">
              <p class="mb-1 text-sm font-medium tracki uppercase text-teal-500">Contact Us</p>
              <h1 class="py-2 text-3xl font-medium leadi title-font">Start Commercial Pilot Training at Pitcairn Flight Academy</h1>
            </div>
            <div class="flex flex-col items-center justify-center flex-shrink-0 mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-5 lg:justify-end">
              <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded bg-teal-500 text-gray-900 hover:scale-105 duration-300">Enroll Today</a>
              <div rel="noopener noreferrer" id="contact-button" class="px-8 py-3 text-lg font-semibold border rounded border-gray-100 cursor-pointer hover:scale-105 duration-300">Contact Us</div>
            </div>
          </div>
        </section>
			</div>
		</main>
	</div>
</div>





<%#= render "shared/cta_pilot_simple"%>
<%#= render "shared/cta_next_steps"%>
<div class="" id="contactframe">
  <%= render "shared/contact_turboframe"%>
</div>
<%= render "shared/footer"%>





<%# Sticky div %>
</div>

<script>
  document.getElementById('contact-button').addEventListener('click', function() {
    const contactFrame = document.getElementById('contactframe');

    if (contactFrame) {
      contactFrame.scrollIntoView({ behavior: 'smooth' });
    }
  });
</script>



