<%= render "shared/header"%>

<header class="flex flex-col justify-center w-full bg-home h-screen-2/3 lg:h-screen-4/5 bg-bottom bg-cover px-10 ">
  <div class="flex flex-col items-center justify-center">
    <h1 class="lg:text-6xl text-3xl font-semibold text-center text-white">PILOT TRAINING IN POTTSTOWN HERITAGE FIELD</h1>
    <h2 class="lg:text-3xl text-xl font-header italic font-semibold py-5 text-center text-white lg:block hidden">Your Flight School by Northwest Philadelphia and Reading</h2>
    <h2 class="text-lg italic font-semibold py-5 text-center text-white lg:hidden">Flight school in the NW Philly & Reading Area</h2>
    <%= link_to root_path do%>
      <div class="btn-primary text-sm lg:text-2xl">START FLYING TODAY</div>
    <%end%>
  </div>
</header>

<section class="relative flex flex-col items-center bg-gradient-to-l from-slate-900 to-sky-700 lg:py-20 py-10">
  <div class="text-center max-w-xl font-header text-white z-20">
    <h2 class="text-3xl lg:text-5xl uppercase">Welcome to Pitcairn Flight Academy</h2>
    <div class="px-5 mb-10 mt-3 text-slate-200">Select an option below to discover why <br class="hidden lg:block"> people choose Pitcairn Flight Academy</div>
  </div>

  <div class="relative flex flex-col lg:flex-row items-center justify-center gap-12 text-slate-200 z-20">
    <%= link_to root_path do%>
      <div class="flex flex-col items-center">
        <div class="w-72 h-72 overflow-hidden">
          <%= image_tag "pitcairn-philly-airport-from-sky.webp", class: "w-full h-full object-cover hover:scale-105 duration-300", alt: "Philadelphia Airport from above.  Photo by formulanone Flickr"%>
        </div>
        <div class="font-header uppercase mt-5 text-2xl">
          How to start flying
        </div>
      </div>
    <%end%>
    <%= link_to root_path do%>
      <div class="flex flex-col items-center">
        <div class="w-72 h-72 overflow-hidden">
          <%= image_tag "pitcairn-flight-cfi-fly-with-student.webp", class: "w-full h-full object-cover hover:scale-105 duration-300", alt: "CFI at Pitcairn Flight Academy with Student"%>
        </div>
        <div class="font-header uppercase mt-5 text-2xl">
          Pilot Training
        </div>
      </div>
    <%end%>
    <%= link_to root_path do%>
      <div class="flex flex-col items-center">
        <div class="w-72 h-72 overflow-hidden">
          <%= image_tag "pitcairn-flight-two-cessnas-on-the-ramp.webp", class: "w-full h-full object-cover hover:scale-105 duration-300", alt: "Cessna airplanes on the ramp at Pitcairn Flight Academy available for rent"%>
        </div>
        <div class="font-header uppercase mt-5 text-2xl">
          Aircraft Rentals
        </div>
      </div>
    <%end%>
  </div>

  <!--bg image-->
  <div class="absolute hidden lg:block z-0">
    <%= image_tag "pitcairn-logo-wing.svg", alt: "logo backdrop", class: "h-[60vh] z-0 opacity-30"%> 
  </div>
</section>

<section class="bg-gradient-to-b from-white to-slate-300 flex flex-col items-center py-10 px-10 text-center">
  <h2 class="font-header uppercase text-xl">PITCAIRN FLIGHT ACADEMY LLC</h2>
  <h3 class="font-bold uppercase text-4xl pt-5 pb-10">NW Philly's premier pilot training academy</h3>
  <p class="slate-700 max-w-2xl pb-5">
    In a world with a great demand for skilled and resilient professional pilots, look no further than Pitcairn Flight Academy. Our unwavering commitment is to train student pilots to be successful in their careers.
  </p>
  <p class="slate-700 max-w-2xl pb-5">
    With our educational methods, access to great reliable aircraft, and a focus on experience driven instruction, aspiring pilots can rest assured that they've chosen the best flight school. Choose Pitcairn Flight Academy and let's fly together.
  </p>
  <%= link_to root_path do%>
    <div class="text-sm lg:text-2xl bg-transparent text-black border-2 rounded-xl px-2 py-2 border-black hover:scale-105 duration-300">START FLYING TODAY</div>
  <%end%>

</section>

<section class="bg-slate-900 text-white">

  <div class="flex flex-col lg:flex-row">
    <div class="lg:w-1/2 flex flex-col items-center justify-center">
      <%= image_tag "pitcairn-flight-group-of-instructors.webp", class: "lg:w-4/5 w-full lg:rounded-2xl", alt: "Penn Airways Building Front"%>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center">
      <div class="max-w-xl px-5">
        <h3 class="text-3xl py-10 text-center font-header uppercase">We're training the next generation of aviators</h3>
        <p class="pb-5 text-slate-300">
          This is your chance to become a pilot and begin an extraordinary career in aviation. Whether you dream of flying in the skies as a commercial pilot or just fly for fun, our comprehensive training programs will equip you with the knowledge and skills needed to reach your aviation goals.
        </p>
        <p class="pb-5 text-slate-300">
          There's nothing quite like the feeling of flying. Each flight is an adventure, a journey that offers awe inspiring views, challenging experiences, and a unique perspective on the world. Whether you're flying above the local Pottstown area or flying above the skyline of Philadelphia, the joy of exploration and aviation is indescribable.
        </p>
        <p class="pb-5 text-slate-300">
          Do you think you have what it takes?  Take our aviation quiz. This interactive quiz will not only help you discover more about yourself and your aspirations but also provide valuable insights into your potential as a pilot. 
        </p>
      </div>
      <div class="pb-5">
        <%= link_to root_path do%>
          <div class="btn-primary">TAKE THE QUIZ</div>
        <%end%>
      </div>
        
    </div>

  </div>
</section>


<section class="bg-slate-900 text-white">

  <div class="flex flex-col lg:flex-row-reverse">
    <div class="lg:w-1/2 flex flex-col items-center justify-center">
      <%= image_tag "pitcairn-flight-penn-airways-building-front.webp", class: "lg:w-5/6 w-full lg:rounded-2xl", alt: "Penn Airways Building Front"%>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center">
      <div class="max-w-xl px-5">
        <h3 class="text-3xl py-10 text-center font-header uppercase">Pitcairn Flight Academy<br>is Your New Flight School</h3>
        <p class="pb-5 text-slate-300">
          If you've ever dreamed of becoming a pilot, now is the time to turn that dream into reality.  As a pilot, you'll join an elite community of individuals who share your passion for aviation. You'll develop life changing skills, learn to stay cool under pressure, and build the confidence to handle any situation - both in the air and on the ground.
        </p>
        <div class="flex flex-col px-5 gap-3 pb-5 text-slate-300">
          <div class="flex flex-row ">
            <div class="text-teal-600 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">Private Pilot</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-teal-600 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">Instrument Rating</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-teal-600 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">Commercial Certificate</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-teal-600 pr-2 font-extrabold">✈</div>
            <h3 class="lg:px-10 pl-4 text-left">Certified Flight Instructor (CFI)</h3>
          </div>
        </div>
        <p class="pb-5 text-slate-300">
          We're at Pottstown Heritage Field Airport <strong>KPTW</strong> Airport (formerly known as Pottstown-Limerick Airport) right inside the Penn Airways Inc. building.  Give us a call or fill out the form below.  
        </p>
      </div>
      <div class="pb-5">
        <%= link_to "", onclick: "event.preventDefault(); document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });" do%>
          <div class="btn-primary" >CONTACT US</div>
        <%end%>
      </div>
    </div>

  </div>
</section>

<section class="bg-slate-900 text-white">

  <div class="flex flex-col-reverse lg:flex-row-reverse">
    <div class="lg:w-1/2 flex flex-col items-center"> 
      <div class="max-w-xl px-5">
        <h2 class="font-header uppercase text-3xl py-10 text-center">Pitcairn Flight Academy<br>Offers Plane Rentals</h2>
        <p class="pb-10 text-slate-300">
          Come fly with us and rent our aircraft.  In our fleet we have a Cessna 152s, Cessna 172s, and a Beechcraft Sierra which are available for rental.  Please contact us for more details.  
          Prior to renting one of planes, you'll be added into Flight Schedule Pro.  In addition, we will need to have copy of documents on file which will include emergency contact information, photo ID, medical certificate, TSA citizenship verification, and TSA awareness training.
        </p>
        <p class="font-bold text-xl pb-10">
          From the team at Pitcairn Flight Academy LLC, we're looking forward to flying with you.
        </p>
      </div>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center justify-center"> 
      <%= image_tag "pitcairn-two-cessnas.webp", alt: "Two Cessnas at Pitcairn Flight Academy LLC", class: "lg:w-5/6 w-full lg:rounded-2xl"%>
    </div>
  </div>
</section>

<section class="relative flex flex-col items-center lg:bg-gradient-to-l bg-gradient-to-b from-slate-900 to-sky-700 px-5 lg:px-0  lg:py-16 py-10" id="form-section">
  
    <%= turbo_frame_tag 'form-section' , class: "z-20 w-full max-w-2xl bg-white p-5 rounded-xl" do %>
      <%= render 'messages/form', message: @message%>
    <% end %>

  <!--bg image-->
  <div class="absolute hidden lg:block z-0">
    <%= image_tag "pitcairn-logo-wing.svg", alt: "logo backdrop", class: "h-[60vh] z-0 opacity-30"%> 
  </div>
  
</section>
<%= render "shared/visit_school"%>
