<%# Head / Meta Data %>
<% title("Instrument Rating | Pitcairn Flight Academy") %>
<% meta_description("Earn your instrument rating in KPTW Limerick Pottstown Heritage Field.  Master instrument flying techniques and enhance your pilot skills. Start your instrument training journey with us. Enroll with us now.  Many of our students come from Pottstown, Philadelphia, Reading, Norristown, King of Prussia, West Chester, Allentown, Bethlehem, Lancaster, Malvern, Exton.") %>
<% meta_keywords("Instrument Rating, Instrument Training, Philadelphia Flight School, Reading Flight School, King of Prussia School, Philly Flight School, Flight School, Instrument Flying Techniques") %>


<%= render "shared/header"%>



<section class="bg-gradient-to-b from-slate-900 to-sky-950 flex flex-col items-center text-white">
  <div class="max-w-4xl flex flex-col pt-10 px-5">
    <h1 class="lg:text-4xl text-2xl uppercase font-bold font-header">Get Your Instrument Rating</h1>
    <h2 class="text-xl text-slate-200 italic py-5">Pitcairn Flight Academy Can Work With Your Schedule</h2>
    <p class="text-lg font-sans text-slate-300">Following your private pilot certification, the next milestone is the instrument rating. This achievement requires intensive training, emphasizing the skill of flying solely by relying on instruments. A thoroughly trained and skilled instrument pilot can navigate an aircraft from departure to arrival without needing to glance outside the window, except during takeoff and landing.</p>
    
    <h3 class="lg:text-4xl text-2xl uppercase font-bold pt-20 pb-5 font-header">How Long Will it Take?</h3>
    <p class="text-lg font-sans text-slate-300">The amount of time required to earn an instrument rating varies and largely depends on weather, availability, finances, and how often a student is available to fly. If training everyday and studying full time, an instrument rating can be earned in approximately two to three months. If flying only a few times a week, expect to be ready for your instrument checkride in a few months to a year.</p>

    <h3 class="lg:text-4xl text-2xl uppercase font-bold pt-20 pb-5 font-header">What are the Eligibility Requirements?</h3>
    <ul class="list-disc text-lg pl-10 lg:pl-16 font-sans text-slate-300">
      <li>Read, speak, write and understand the English language</li>
      <li>Hold a valid private pilot certificate</li>
      <li>50 hours cross country time</li>
      <li>40 hours instrument time</li>
      <li>Complete a 250NM cross country along airways or by routing from an air traffic control facility</li>
      <li>Receive flight training and a logbook endorsement from an authorized instructor</li>
      <li>Pass a practical test for the aircraft rating sought</li>
    </ul>
    <p class="text-slate-400 italic pt-5 pb-10">Reference 14 CFR ยง61.65 for the entire list of eligibility requirements.</p>
  </div>
</section>


<section class="flex flex-col lg:flex-row items-center pt-10 pb-0 lg:py-10 bg-gradient-to-r from-slate-50 to-slate-300">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 mx-5 text-center uppercase font-header">Step 1. Flight Training</h3>
    <p class="w-3/4 font-sans">
      During this phase, you'll need to accumlate 50 hours of cross-country flights, exposing you to a variety of terrains, airspace scenarios, and navigation situations. Under the guidance of our seasoned instructors, you'll amass invaluable experience in planning and executing cross-country flights, building your expertise in flight planning, navigation, and effective communication. Additionally, you'll need 40 hours of instrument training, where you'll learn to operate exclusively by referencing instruments, sharpening your skills in precision approaches, mastering holding patterns, and navigating in instrument meteorological conditions (IMC).
    </p>
    <p class="w-3/4 py-10 font-sans">
      Our team of expert instructors is dedicated to offering personalized guidance and hands on training, ensuring you build instrument flying skills and gaining the confidence needed to fly in real world challenges.
    </p>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "pitciarn-flight-cessna-clouds.webp", alt: "Flight in IMC conditions", class: "lg:h-screen-1/2 lg:rounded-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse items-center pt-10 pb-0 lg:py-10 bg-gradient-to-r from-slate-50 to-slate-300">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 mx-5 text-center uppercase font-header">Step 2. Written Exam</h3>
    <p class="w-3/4 font-sans">
       In this step you'll be preparing for and successfully pass the instrument written exam. Our comprehensive training materials and experienced instructors will provide you with the necessary resources and guidance to fully comprehend the exam's covered concepts.
    </p>
    <p class="w-3/4 py-10 font-sans">
      From instrument flight rules (IFR) regulations and procedures to meteorology theory and instrument navigation, we will equip you with the knowledge and critical thinking abilities essential for excelling in the written exam. Through practice tests, in depth discussions, and personalized support, we ensure that you are well prepared to confidently approach the exam, laying a solid foundation for your instrument training and beyond.
    </p>
  </div>
  <div class="lg:w-1/2 flex flex-col items-center">
    <%=image_tag "pitcairn-flight-written-exam.webp" , alt: "e6b and plotter", class: "lg:w-5/6 lg:rounded-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row items-center pt-10 pb-0 lg:py-10 bg-gradient-to-r from-slate-50 to-slate-300">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 mx-5 text-center uppercase font-header">Step 3. Long Cross Country</h3>
    <p class="w-3/4 font-sans">
      One of the final requirements to getting your instrument rating is completing what's infamously called, "The Long Cross Country."  This cross country flight needs to be at least 250 nautical miles and you need to be vectored by ATC (air traffic control) and/or use victor airways.  Victor Airways are the highways in the skies and are flown between two VORs which are navigational beacons.
    </p>
    <p class="w-3/4 py-10 font-sans">
      You'll navigate through a mix of controlled and uncontrolled airspace, adhering to ATC-directed routes and then complete instrument approaches at your destination airports. Successfully completing "The Long Cross Country" demonstrates your readiness to handle complex instrument flights independently and is a crucial step toward earning your instrument rating.
    </p>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "pitcairn-flight-instrument.webp", alt: "instrument IMC flight", class: "lg:w-5/6 lg:rounded-2xl"%>
  </div>
</section>

<section class="flex flex-col lg:flex-row-reverse items-center pt-10 pb-0 lg:py-10 bg-gradient-to-r from-slate-50 to-slate-300">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    <h3 class="text-3xl font-semibold pb-10 mx-5 text-center uppercase font-header">Step 4. Checkride</h3>
    <p class="w-3/4 font-sans">
      This is where you showcase everything you've learned during your instrument training journey. Think of it like a final exam, but in the world of flying. A designated FAA examiner will put your skills and knowledge to the test to ensure you're ready to earn your instrument rating.
    </p>
    <p class="w-3/4 py-10 font-sans">
      During the checkride, you'll demonstrate your ability to safely and proficiently navigate the sky using your instrument flight skills. The examiner will evaluate your decision making, your communication with air traffic control, and your in flight procedures. Our experienced instructors at Pitcairn Flight Academy will ensure you're ready to face the checkride with confidence.
    </p>
  </div>
  <div class="lg:w-1/2 flex flex-col items-center">
    <%=image_tag "pitcairn-flight-cfi-in-front-plane.webp" , alt: "Pilot in front of plane", class: "lg:w-2/3 lg:rounded-2xl"%>
  </div>
</section>


<%#= render "shared/cta_pilot_simple"%>
<%#= render "shared/cta_next_steps"%>

<%= render "shared/contact_turboframe"%>
<%= render "shared/footer"%>





<%# Sticky div %>
</div>