<%# Head / Meta Data %>
<% title("Why Choose Pitcairn Flight Academy") %>
<% meta_description("Discover why Pitcairn Flight Academy is your flight school to become a pilot.  We are a Part 61 school in Pottstown, Pennsylvania. We care about our students' success and we want to help you attain your aviation goals.") %>
<% meta_keywords("Flight School Philadelphia, Flight School Reading, Flight School Limerick, Flight School KPTW, Flight School King of Prussia, Pilot Training, Experienced Instructors, Modern Aircraft, Personalized Training") %>

<%= render "shared/header"%>

<header class="w-full bg-penn bg-cover h-screen-1/2 lg:h-screen-4/5 bg-center flex justify-center items-center shapedividers-1">
  <div class="flex flex-col w-full">
      <!--Desktop-->
      <h1 class="font-bold text-[10rem] text-right text-white uppercase pr-10 pb-12 hidden lg:block" style="font-family: kanit, arial">Why Pitcairn Flight?</h1>
      <!--Mobile-->
      <h1 class="font-semibold text-7xl text-right uppercase text-white pr-5 lg:hidden" style="font-family: kanit, arial">Why Pitcairn Flight?</h1>
  </div>
</header>

<section class="bg-white py-20 flex flex-col items-center">
  <h2 class=" uppercase text-5xl text-center font-bold">Helping Pilots Achieve Their <span class="text-teal-500 underline">Goals</span></h2>
  <p class="max-w-4xl text-xl mx-5 pt-5 font-header">We are a Part 61 flight school dedicated to ensuring your success. Our comprehensive flight training program encompasses all the necessary materials, ground school sessions, and flight hours required to thoroughly prepare you for your checkride.</p>
</section>


<section class="bg-gradient-to-r from-sky-900 to-slate-900 text-white py-10">

    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-1/2 flex flex-col items-center justify-center">
        <p class="text-3xl italic text-center font-semibold pb-10 lg:pb-0">"Helping Pilots Fly Safely & Proficiently"</p>
      </div>
      <div class="lg:w-1/2 flex flex-col justify-center">
        <h2 class="font-semibold text-2xl uppercase text-center pb-10 px-5">Your experts in flight instruction</h2>
        <p class="px-10 font-header">Safety is our primary concern.  We want you to be the best pilot you can be.  Decades of experience in the flight training industry.</p>
        <p class="px-10 py-5 font-header">There are two distinct types of instructors that you might meet when looking for a flight school.  A time builder looking to just gain the flight hours to move on to the next step.. And then there are the flight instructors that truly care about your success and instruct out of a love for aviation.  </p>
        <p class="px-10 font-header">We care about our students and want them to be the best pilots they can possibly be.  We are invested in your success.</p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row mt-10 mx-10 lg:mx-40 gap-5" x-data>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-white flex flex-col items-center">
        <p class="py-3">  
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 10000, time: 1000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current).toLocaleString()"></div>+
          </div>
        </p>
        <p class="pb-5">Hours of combined experience</p>
      </div>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-white flex flex-col items-center">
        <p class="py-3">
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 95, time: 2000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current)"></div>%
          </div>
        </p>
        <p class="pb-5">Checkride pass rate</p>
      </div>
      <div class="lg:w-1/3 lg:hover:scale-105 shadow-2xl transition-all duration-300 rounded-tl-3xl rounded-br-3xl border-4 border-white flex flex-col items-center">
        <p class="py-3">
          <div class="flex flex-row font-bold text-5xl" x-data="{ current: 0, target: 100, time: 3000}" x-intersect.once="() => {
            start = current; 
            const interval = Math.max(time / (target - start), 5); 
            const step = (target - start) /  (time / interval);  
            const handle = setInterval(() => {
                if(current < target) 
                    current += step
                else {
                    clearInterval(handle);
                    current = target
                }   
                }, interval)
            }">
            <div class="card"x-text="Math.round(current)"></div>+
          </div>
        </p>
        <p class="pb-5">Students training and passing checkrides</p>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-r from-sky-900 to-slate-900 text-white flex flex-col items-center px-5">
    <h3 class="uppercase text-4xl lg:text-5xl font-semibold pt-20 pb-10 text-center">What Makes Us So Great?</h3>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 max-w-4xl">
      <!--Care about students instead of profit-->
      <div class="flex flex-row">
        <div class="pr-10">
          <%=image_tag "handshake.webp", alt: "handshake icon", class: " border-2 border-teal-500 rounded-full p-2"%>
        </div>
        <div class="flex flex-col">
          <h4 class="font-header uppercase font-semibold text-xl">Student Centered</h4>
          <p class="font-header tracking-tight">You're more than a number at Pitcairn Flight Academy.  We genuinely care about your success.   Our primary focus is you and your aviation goals.</p>
        </div>
      </div>
      <!--Family Environment-->
      <div class="flex flex-row pt-10 lg:pt-0">
        <div class="pr-10">
          <%=image_tag "family.webp", alt: "family icon", class: "border-2 border-teal-500 rounded-full p-3"%>
        </div>
        <div class="flex flex-col">
          <h4 class="font-header uppercase font-semibold text-xl">Family Environment</h4>
          <p class="font-header tracking-tight">We are a close knit community that supports and uplifts each other on the journey to completing aviation goals. When you're here, you're family.</p>
        </div>
      </div>
    </div>
    <!--2nd row on desktop-->
    <div class="py-10">
      <!--Affordable-->
      <div class="lg:max-w-md  flex flex-row ">
        <div class="pr-10">
          <%=image_tag "affordable.webp", alt: "affordable icon", class: " border-2 border-teal-500 rounded-full py-3 pr-2 pl-3"%>
        </div>
        <div class="flex flex-col">
          <h4 class="font-header uppercase font-semibold text-xl">Affordable</h4>
          <p class="font-header tracking-tight">Pitcairn Flight Academy offers affordable rental and instructor rates that make pilot training accessible to aspiring aviators from all walks of life.</p>
        </div>
      </div>
    </div>
  </section>

  <%#= render "shared/testimonials"%>
  <%= render "shared/cta_discovery_flight_fixed"%>
  <%= render "shared/cta_discovery_flight"%>
  <%#= render "shared/cta_pilot_simple"%>
  <%#= render "shared/cta_next_steps"%>


<%= render "shared/contact_turboframe"%>
<%= render "shared/footer"%>

    <!--Google Fonts-->
    <%#<!--**Not sure if this is still needed for font**  <link rel="preconnect" href="https://fonts.googleapis.com">-->%>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--async FONTs-->
    <link rel="stylesheet"  media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap">
    </noscript>